@page "/ShoppingCart"
@using MyShop.Server.Repository.Models
@using MyShop.HttpApiClient


@inject IShopClient Client

<h2>Корзина:</h2>

@* @foreach (var cart in CartList) *@
@* { *@
@*     <p> *@
@*             @product.Name @product.Price *@
@*             <button @onclick="@((long id) => Client.DeleteCart(id))" class="btn btn-primary">Удалить товар</button> *@
@*         </p> *@
@* } *@
@if (CartList != null)
{
    <table class="table">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Название</th>
            <th scope="col">Цена</th>
            <th scope="col"></th>

        </tr>
        </thead>
        <tbody>


        @foreach (var product in CartList)
        {
            <tr>
                @* <td> *@
                @*     <img src="@product.ImageUrl" alt="product image" style="width:100px;"/> *@
                @* </td> *@
                @* <td class="align-middle" style="color: #0a58ca"> *@
                @*     @product.Name *@
                @* </td> *@
                @* <td class="align-middle"> *@
                @*     $@product.Price *@
                @* </td> *@
                @* <td class="align-middle"> *@
                @*     <button @onclick="@(() => Client.DeleteCart(product.Id))" class="btn btn-danger">Удалить из корзины</button> *@
                @* </td> *@
                <td> 
                   @product.Id
                    </td>

            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>Loading...</p>
}

<div>
    <button @onclick="@(() => Client.ClearCart())" class="btn btn-primary">Очистить корзину</button>
</div>

@code{
    
    private IEnumerable<Cart>? CartList { get; set; }
    //private List<Product> Product { get; set; }
    

    protected override async Task OnInitializedAsync()
    {
        CartList = await Client.GetCartItems();
        
    }
    
    // private async Task GetToProduct()
    // { 
    //     foreach(var cart in CartList)
    //     {
    //         Product.Add(await Client.GetProduct(cart.ProductId));
    //     }
    //
    // }
}